[includeIf "gitdir:~/workspace/"]
  path = ~/.gitconfigs/.gitconfig-office
[includeIf "gitdir:~/gh-workspace/"]
  path = ~/.gitconfigs/.gitconfig-github
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
